<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Push Recipe Test UI</title>
		<!-- bower:js-->
		<script src="lib/angular/angular.js"></script>
		<script src="lib/jquery/dist/jquery.js"></script>
		<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
		<!-- endbower -->
		
		<!-- bower:css -->
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
		<!-- endbower -->
		
		<!-- inject:css -->
		<link rel="stylesheet" href="main.css">
		<!-- endinject -->
		
		<!-- inject:js -->
		<script src="app.js"></script>
		<script src="dist/compiled_source.js"></script>
		<!-- endinject -->
		
	</head>
	<body>
		<div class="container">
			<h1>Push Recipe</h1>
		</div>
	</body>
</html>